VITE_FIREBASE_API_KEY=AIzaSyDJ_I3y0l9eS3ZwDUhegRQh-26y5oaY0Y8
VITE_FIREBASE_AUTH_DOMAIN=farmersmark-agriculture.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=farmersmark-agriculture
VITE_FIREBASE_STORAGE_BUCKET=farmersmark-agriculture.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1030666165439
VITE_FIREBASE_APP_ID=1:1030666165439:web:71ee0b0b44d7ce22c77a0a
VITE_API_BASE_URL=https://farmersmark-rag-api-1030666165439.us-west1.run.app
